<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Management System :: System Administration</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<main>
  <h1>Welcome to the System Administration</h1>
  <nav>
    <a href="/secured/student/list">Students</a> |
    <!--    <a href="/secured/student/new">Students</a> |-->
    <a>Transcripts</a> |
    <a>Classrooms</a> |
  </nav>
</main>
<footer></footer>
</body>
</html>
